# macOS
.DS_Store

.vscode/

# Node.js / Frontend 
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.*
*.env

*.log

back/uploads/
back/extensions/
directus/.cache/
directus/temp/

react-front/build/

.cspell.json

.devcontainer/.devcontainer.json

.git/

# Terraform (Global et infra/)
*.tfstate
*.tfstate.backup
*.tfvars
*.auto.tfvars
*.auto.tfvars.json
terraform.tfplan
override.tf
secret.tf
credentials.json
application_default_credentials.json
.crash
.terraform/

# Terraform (dossier infra/) 
infra/terraform-service-account.json
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/.terraform/

# Scripts
set_env.sh
