# macOS
.DS_Store
.vscode/
.cspell.json

# Git
.git/
*.log
*.retry

# Secrets et Environnements
.env
.env.*
*.env
*.pem
*.key
*.pub
*.id_rsa
*.id_rsa.pub
credentials.json
application_default_credentials.json
set_env.sh

# Node.js / React Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
react-front/build/

# Directus (Back)
back/uploads/
back/extensions/
directus/.cache/
directus/temp/

# Terraform (global)
*.tfstate
*.tfstate.backup
*.tfvars
*.auto.tfvars
*.auto.tfvars.json
terraform.tfplan
override.tf
secret.tf
.crash
.terraform/

# Terraform (infra)
infra/terraform-service-account.json
infra/terraform.tfstate
infra/terraform.tfstate.backup
infra/.terraform/
infra/id_rsa.pub

# Docker
.dockerignore

